name: YouTube Audio Streaming
version: "1.0.2"
slug: youtube_audio_streaming
description: Stream audio from YouTube videos
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: application
boot: auto
ports:
  5000/tcp: 5000
options: {}
schema: {}
image: "ghcr.io/home-assistant/{arch}-base-python:3.13-alpine3.20"
